<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="MobileExtend" patternSyntax="ECMAScript">
                    <match url="manager/" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/MobileExtend/admanager/index.html" />
                </rule>
                <rule name="publish">
                    <match url="publish/" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/MobileExtend/admanager/index.html" />
                </rule>
                <rule name="list">
                    <match url="list/" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/MobileExtend/admanager/index.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
