body,html,div,input,ul,li,a,h1,h2,h3,h4,h5,h6,p,span{
    margin:0;padding: 0;
    box-sizing: border-box;
}
body{
    background: #f6f6f6;
}
input{
    outline: none;
}
ul,li{
    list-style: none;
    padding: 0;
}
::-webkit-input-placeholder {
    　　color:#999;  }
　　:-moz-placeholder {
    　　color:#999;  }
　　::-moz-placeholder {
    　　color:#999;  }
　　:-ms-input-placeholder {
    　　color:#999;  }
button{
    outline: none;
    border-radius: 0;
    border: none;
}
.img_item{
    width: 100px;
    height: 75px;

}
.img_item img{
   width: 100%;

}
.ab{
    position: absolute;
}
.ra{
    position: relative;
}
.block_{
    display: block;
}
.none_{
    display: none;
}
.tabs{
    background: #ffffff;
    margin: 10px 0;
    padding: 20px 20px;
}
.tabsrinop{
    background: #ffffff;
    margin: 10px 0;
    padding: 0px 0px 20px 20px;
}
.borderbottom{
    border-bottom: 1px solid #ccc;
}