.houseChange li {
    display: inline-block;
}
.houseChange ul{
    width: 100%;
    background: #ffffff;
}
.houseOne{
    font-size: 14px;
    width: 50px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    position: relative;
    color:#999999;

}
li.changed{
    color:#e85533;
}
.houseOne span{
    width: 90px;
    border: 2px solid red;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -45px;
    bottom: 38px;
    display: none;
}
span.changed{
    display: block;
}
.onhouseIma{
    width: 100%;
    text-align: center;
    color:#666666;

}
.onhouseIma img{
    width: 100%;
    max-width: 100%;
}
.onhouseIma h1{
    background: #ffffff;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color:#666666;
}
.itemlist{
    margin: 40px 0;
}
.itemlist li{

}
.itemsdetail {
    display: flex;
    font-size: 14px;
    color: #999;
    background: #ffffff;
    margin: 0px 0px 30px 0px;
}
.itemLeft span,.itemRight span{
    color: #000000;
}
.itemLeft{
    flex: 1;
}
.itemRight{
    flex: 1;
}
.tabs{
    background: #ffffff;
    margin: 10px 0;
    padding: 20px 20px;
}
.zhiye h1{
    border-bottom: 1px solid #999999;
    height: 40px;
    line-height: 28px;
    font-size: 16px;
}
.zhiye p{
    font-size: 13px;
}
.zongse{
    color: #f57a6d;
}
#container h6{
    padding-left: 20px;
    padding-bottom: 70px;
    color:#999999;
}
.plans{
    padding: 11px 0;
}
.flexboxbtomo {
    width: 100%;
    height: 50px;
    display: flex;
    line-height: 50px;
    color: #fff;
    position: fixed;
    bottom: 0;
    z-index: 99;
    left: 0;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 -2px 5px 0 rgba(0,0,0,0.16), 0 -2px 10px 0 rgba(0,0,0,0.12);
}
.weizixun{
    flex: 2;
    color:#999999;
    font-size: 12px;
    line-height:78px;
    background: #f8f8f8 url("../image/weixingrey.png") no-repeat center 4px;
    background-size:30px auto;
}
.lianxi{
    flex: 4;
    background:#ffaa40;
}
.yuyue{
    flex: 4;
    height: 50px;
    background:#ee4848;

}

.share_header{
    background:#ff6a6a;
    height: 260px;

}
.share_{
    display: flex;
}
.touxiangdiv{
    flex: 2;
    text-align: center;
    width: 58px;
    height: 58px;
    border-radius: 50%;
}
.telItem{
    flex: 8;
}
.share_{
    padding-top: 100px;
}
.touxiangdiv img{
    max-width: 100%;
}
.share_container{
    background: #ffffff;
    padding: 0px 0px 0px 20px;
}
.share_items{
    display: flex;
}
.img_item{
    flex: 3;
}
.img_item img{
    width: 100%;max-width: 100%;
}
.font_item{
    flex: 4;
    padding-left: 20px;
}
.font_item h2{
    font-size:14px ;
}
.font_item p{
    color: #999999;
    font-size: 12px;
}
.font_item p>span{
    color: #ee4848;
}
.yuyuelook {
    flex: 2.5;
}
.yuyuelook button{
    background:#ee4848;
    color: #ffffff;
    font-size: 16px;
    margin-top: 20px;

}
.telItem{
    color: #ffffff;
}
.share_items{
    border-bottom: 1px solid #999999;
    padding-bottom: 18px;
    padding-top: 18px;
    height: 117px;
    padding-right: 10px;
}
.patopnone{
    padding-top: 0px;
}
.telphone_{
    font-size: 16px;
}
.proCl{
    font-size: 12px;
}
.proCl >span{
    margin-left: 20px;
    font-size: 18px;
}
.yuyuekuang{
    width: 335px;
    height: 230px;
    background: #ffffff;
    position: absolute;
    top:50%;
    margin-top: -115px;
    z-index: 999;

}
.mengban{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    background: #000000;
    opacity: 0.5;
    z-index: 100;
}
.yuyuekuang ul{
    padding: 22px 22px;
}
.yuyuekuang ul> li >input{
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: solid 1px #cccccc;

}
.yanzhenCode{
    width: 106px;
    height: 30px;
    right: 0px;
    bottom: 5px;
    background: #fff;
    border: 1px solid #ee4848;
    border-radius: 5px;
    color:#ee4848;

}
.anniu >button{
    width: 45%;
    height: 30px;
}
.anniu >button:last-child{
    margin-left: 5%;
    background:#ee4848;
    color: #ffffff;
    margin-top: 30px;
}

#seach{
    background:#ffffff url("../image/seach.png") no-repeat 10px center ;
    border:1px solid #e9e9e9;
    border-radius:100px;
    width:93%;
    height:30px;
    font-size:13px;
    padding-left: 30px;
    background-size: 15px auto;

}
._header{
    text-align: center;
    height: 60px;
    line-height: 60px;
    position: relative;
}
.vedioImg{
    position: absolute;
    right: 7%;
    top: 23px;
    width: 12px;
}
.navb li{
    display: inline-block;
    width: 33.3%;
    font-size: 18px;
    text-align: center;
    position: relative;
    height: 45px;
    line-height: 45px;
    background: #fff;
    padding: 0;
    margin: 0;
    border: none;
}
.navb li span{
    position: relative;
}
.navb{

}
.leftImage{
    width: 30%;
}
.shop-list{
    padding-bottom: 20px;
}
.shop-list .shop-list-item {
    background: #fff;
    position: relative;
    border-bottom: 1px solid #f0f0f0;
    padding: 0 0 0px 0;
    height: 116px;
}
.shoplink {
    position: relative;
    padding: 20px 0px 20px 10px;
    display: flex;
    display: -webkit-flex;
    background:#fff7f7;
}
.shoplink .shop-img {
    height: 75px;
    width: 100px;
    flex: none;
    -webkit-flex: none;
    display: block;  overflow: hidden;
    position: relative;
    margin: 0 10px 0 0;
}
.shoplink .shop-img img{
    height: 75px;
    width: 100px;

}
.shop-title {
    line-height: 8px;
    flex: auto;
    -webkit-flex: auto;
    padding:0 0 0 10px;
    font-size: 12px;
}
.shop-list .shop-title .total-price {
    color: #e50011;
    font-size: 18px;
    font-weight: bold;
}
.shop-list .shop-title .double-columns .right-column {
    text-align: right;
    width: 42%;
    display: block;
}
.unit-price{
    font-size: 12px;
}
.shop-list .shop-title h2 {
    margin: 0 0 4px 0;
    color: #000;
    font-size: 14px;
    -webkit-line-clamp: 2;
    height: 15px;
    line-height: 15px;
}
.double-columns .left-column {
    -webkit-line-clamp: 1;
    flex: 1;
    -webkit-flex: 1;
    margin: 15px 0;
}

.shop-list .shop-title .double-columns {
    line-height: inherit;
    margin: 0 0 3px 0;
    color: #999;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}
.house_right {
    display: flex;
    margin-left: 10px;
    width: 0px;
    overflow: hidden;
    height: 116px;
    margin-top: -20px;

}
.house_right button{
    font-size: 14px;
    width: 80px;
    margin: 0;
    padding: 0;
    color: #ffffff;
    height: 116px;
}
.delete{
    background: #cccccc;

}
.madeTop{
    background: red;
}
a{
    list-style: none;
    text-decoration: none;
    color: #000000;
}
.container_ h4{
    text-align: center;
    color: #333;
    font-size: 14px;
    padding: 11px 0;
}
.triangle{
    position: absolute;
    display: block;
    right: -11px;
    top: 35%;
    width: 7px;
}
.rotate{
    transform:rotate(180deg);
}
.shop-list .double-columns{
    font-size: 9px;
}

#loupancon{
    font-size: 16px;
    padding-bottom: 50px;


}
.contop{
    padding:21px 21px 40px 21px;
    background: #ffffff;
}
.contop{
    border-bottom: 1px solid #cccccc;

}
.contop h2{
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;

}
.items{
    padding:21px 21px 40px 21px;
    font-size: 14px;
    background: #ffffff;
}
.items li{
    margin-bottom: 10px;
}
.items> li>span{
    margin-bottom: 10px;
    display: inline-block;
}
span.title{
    color: #999999;
    width: 24%;
    vertical-align: text-top;
}
.title{

}
span.content{
    width: 76%;
    vertical-align: text-top;
}
.zaishou{
    height: 99px;
}
.zaishou >h3{
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #cccccc;
    font-size: 14px;
}
.zaishou >ul>li>a> p{
    height: 56px;
    line-height: 56px;
    font-size: 14px;
    background: url("../image/youjiantou.png") no-repeat  96% center;
}
.swiper-wrapper{

}
.swiper-slide img{
    max-width: 100%;
}
.title_swiper{
    width: 100%;
    height: 38px;
    bottom: 4px;
    z-index: 100;
    background:rgba(0,0,0,0.5);
    color: #ffffff;
    line-height: 38px;
    text-align: right;
    padding-right: 20px;
}
.title_swiper img{
    vertical-align: middle;
    padding-right: 10px;
    opacity: 1;
    width: 16px;

}
.title_swiper span{
    vertical-align: middle;
    padding-right: 10px;
    opacity: 1;
    padding: 0;
    font-size: 12px;

}
.tedian{
    padding: 10px 0 0 0 ;
}
.telImage{
    bottom: -21px;
    right: 30px;
    background:#ffaa40;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    line-height: 52px;
    text-align: center;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.50);
}